@model List<AnonymForum2.Models.ViewModel.TopicDetailViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Välkomna till forumet!</h1>
<h3>Välj nåt att diskutera om:</h3>

<ul>
@foreach (var topic in Model) 
{
    <li>
        <a
           href="/Home/Post/@topic.Id"
        >@topic.Name</a>
    </li>
}
</ul>