@model AnonymForum2.Models.ViewModel.PostMoreDetailViewModel
<div>
    <a href="/Home/Index/">Tillbaka</a>
</div>

<a href="/Home/CreatePost/@Model.sentId">
    Skapa ny diskussion
</a>


@foreach (var post in Model.Posts)
{
    <div style="max-width:600px; padding:3px; margin:0 auto; border: solid 1px black; margin-bottom: 8px;">
        <div style="justify-content:space-between; font-weight:bold; display:flex;">
            <p>@post.Title</p>
            <p>@post.PostTime</p>
        </div>
        <div>
            <p>@post.Contents</p>
        </div>
        <div style="justify-content:space-between; display:flex;">
            <a href="/Home/Thread/@post.Id">Se Tråden</a>
            <a href="/Home/CreateReply/@post.Id">Svara</a>
        </div>
    </div>
}